# Fill in your MetaMask Address Here
METAMASK_ADDRESS=

# Fill in your proxy address here (found in Polymarket Profile)
POLYMARKET_FUNDER=

# Do not change below, they are Polymarket and USDC official Smart Contract Address
# Conditional Tokens (CTF) contract for Polymarket
CTF_ADDRESS=0x4D97DCd97eC945f40cF65F87097ACe5EA0476045

# Bridged USDC (USDC.e) Address
USDC_ADDRESS=0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174

# Polygon RPC, Swap the success one to first
RPC_URLS=https://polygon-bor.publicnode.com,https://1rpc.io/matic,https://polygon-rpc.com,https://rpc-mainnet.maticvigil.com